*.log
*.psd

/nbproject/
/vendor/
/node_modules/

/var/logs
/var/data

.idea
.phpunit.result.cache
.env.local

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
