.component.list-fleet .set-fleet {
	position: relative;
	margin: 10px;
	padding: 0 0 0 70px;
	min-height: 80px;

	img.place {
		position: absolute;
		top: -5px; left: -20px;
		width: 80px;
		background: #0A0A0A;
		border-radius: 100%;
		border: solid 1px #202020;
	}

	h2 {
		padding: 10px 0; margin: 0;
	}

	.item {
		position: relative;
		height: 60px;
		background: #0A0A0A;
		border: solid 1px #202020;
		border-bottom: none;

		&:last-child {
			border-bottom: solid 1px #202020;
		}

		.left {
			position: absolute;
			top: 0; left: 0;
			width: 60px; height: 60px;
			z-index: 1;

			.top {
				position: absolute;
				left: 60px;
				display: block;
				width: 400px;
				top: 10px;
			}

			.status {
				width: 30px;
				margin: 10px; padding: 5px;
				border-radius: 100%;

				&.color1 { background: @medium-1; }
				&.color2 { background: @medium-2; }
				&.color3 { background: @medium-3; }
				&.color4 { background: @medium-4; }
				&.color5 { background: @medium-5; }
				&.color6 { background: @medium-6; }
				&.color7 { background: @medium-7; }
			}
		}

		.right {
			position: absolute;
			top: 0; right: 0;
			width: 60px; height: 60px;
			z-index: 1;

			.top {
				position: absolute;
				right: 60px;
				display: block;
				width: 200px;
				text-align: right;
				top: 10px;
			}

			.cover {
				width: 50px;
				margin: 5px; padding: 0;
				border-radius: 100%;
			}
		}

		.center {
			position: absolute;
			top: 41px; left: 70px; right: 70px;

			.ship {
				position: absolute;
				top: -11px; left: -11px; right: auto;
			}

			.progress-ship {
				display: block;
				width: 100%;
				background: #4F4F4F;
				height: 3px;

				&.color1 .bar { background: @light-1; }
				&.color2 .bar { background: @light-2; }
				&.color3 .bar { background: @light-3; }
				&.color4 .bar { background: @light-4; }
				&.color5 .bar { background: @light-5; }
				&.color6 .bar { background: @light-6; }
				&.color7 .bar { background: @light-7; }

				.bar {
					position: relative;
					display: block;
					height: 3px;

					.ship { right: -11px; left: auto; }

					span {
						position: absolute;
						top: 4px; right: 15px;
						font-size: 10px;
					}
				}
			}

			&.reversed .progress-ship {
				&.color1 { background: @light-1; }
				&.color2 { background: @light-2; }
				&.color3 { background: @light-3; }
				&.color4 { background: @light-4; }
				&.color5 { background: @light-5; }
				&.color6 { background: @light-6; }
				&.color7 { background: @light-7; }

				.bar { background: #4F4F4F; }
			}
		}
	}
}



.component.list-fleet hr {
	margin: 10px 0;
	border: none;
	border-top: solid 1px #202020;
}

.component.list-fleet .fleet-element {
	position: relative;
	margin: 10px 10px 0 10px;
	border: solid 1px #0A0A0A;
	border-top: solid 1px #202020;
	height: 45px;
	background: black;
	line-height: 18px;
}

.component.list-fleet .fleet-element.active {
	background: #0A0A0A;
	border: solid 1px #202020;
}

.component.list-fleet .fleet-element strong {
	display: block;
}

.component.list-fleet .fleet-element .status {
	position: absolute;
	display: block;
	top: 7px; left: 7px;
	width: 29px; height: 29px;
	padding: 1px;
	background: red;
	border-radius: 3px;
}

.color1 .component.list-fleet .fleet-element .status, .component.list-fleet .fleet-element.color1 .status { background: #6e161b; }
.color2 .component.list-fleet .fleet-element .status, .component.list-fleet .fleet-element.color2 .status { background: #1f1471; }
.color3 .component.list-fleet .fleet-element .status, .component.list-fleet .fleet-element.color3 .status { background: #dbb200; }
.color4 .component.list-fleet .fleet-element .status, .component.list-fleet .fleet-element.color4 .status { background: #5a1072; }
.color5 .component.list-fleet .fleet-element .status, .component.list-fleet .fleet-element.color5 .status { background: #2c7915; }
.color6 .component.list-fleet .fleet-element .status, .component.list-fleet .fleet-element.color6 .status { background: #076b87; }
.color7 .component.list-fleet .fleet-element .status, .component.list-fleet .fleet-element.color7 .status { background: #67331d; }

.component.list-fleet .fleet-element .name {
	position: absolute;
	display: block;
	top: 0; left: 45px;
	width: 80px; height: 35px;
	padding: 5px;
}

.component.list-fleet .fleet-element .pev {
	position: absolute;
	display: block;
	top: 14px; left: 135px;
	width: 80px; height: 20px;
	font-size: 18px;
	text-align: right;
}
.component.list-fleet .fleet-element .pev img { width: 15px; }

.component.list-fleet .fleet-element .location {
	position: absolute;
	display: block;
	top: 0; left: 235px;
	width: 290px; height: 35px;
	padding: 5px;
}
.component.list-fleet .fleet-element .location a { color: white; }

.component.list-fleet .fleet-element .duration {
	position: absolute;
	display: block;
	bottom: 1px; right: 5px;
}

.component.list-fleet .fleet-element .button {
	position: absolute;
	display: block;
	top: 5px; right: 5px;
	padding: 3px;
	width: 14px; height: 14px;
	background: #4F4F4F;
	border: none;
	color: white;
	text-decoration: none;
	line-height: 14px; text-align: center;
	font-size: 20px;
}
.color1 .component.list-fleet .fleet-element .button { background: #510816; }
.color2 .component.list-fleet .fleet-element .button { background: #0c0d44; }
.color3 .component.list-fleet .fleet-element .button { background: #b17a00; }
.color4 .component.list-fleet .fleet-element .button { background: #310948; }
.color5 .component.list-fleet .fleet-element .button { background: #24500a; }
.color6 .component.list-fleet .fleet-element .button { background: #004948; }
.color7 .component.list-fleet .fleet-element .button { background: #401b13; }
.component.list-fleet .fleet-element .button img {
	width: 14px; height: 14px;
	border: none;
}

.component.list-fleet .fleet-element .progress-bar {
	position: absolute;
	bottom: -3px; left: 0;
}