---
parameters:
    gaia.limit_conquest_sector: 4
    gaia.scores: [1, 3, 5, 10]
    gaia.sector_minimal_score: 10
    
services:
    _defaults:
        autowire: true
        autoconfigure: true

    Asylamba\Modules\Gaia\Manager\:
        resource: '%root_path%/system/Modules/Gaia/Manager/*'

    Asylamba\Modules\Gaia\Helper\ActionHelper:
        arguments:
            $rootPath: '%root_path%'
            $mediaPath: '%media%'
            $routeSectorBonus: "%athena.route.sector_bonus%"
            $routeColorBonus: "%athena.route.color_bonus%"

    Asylamba\Modules\Gaia\Helper\GalaxyGenerator: ~
            
    Asylamba\Modules\Gaia\Manager\GalaxyColorManager:
        arguments:
            $availableFactions: "%game.available_factions%"
            $limitConquestSector: "%gaia.limit_conquest_sector%"

    Asylamba\Modules\Gaia\Manager\SectorManager:
        arguments:
            $scores: "%gaia.scores%"
            
    gaia.galaxy_configuration:
        class: "%gaia.galaxy_configuration.class%"
        
    Asylamba\Modules\Gaia\EventListener\SectorListener:
        arguments:
            $scores: "%gaia.scores%"
            $sectorMinimalScore: "%gaia.sector_minimal_score%"
        tags:
            - {name: "kernel.event_listener", event: "gaia.place_owner_change", method: "onPlaceOwnerChange", priority: 1}
            
    Asylamba\Modules\Gaia\EventListener\SystemListener:
        arguments:
            $scores: "%gaia.scores%"
        tags:
            - {name: "kernel.event_listener", event: "gaia.place_owner_change", method: "onPlaceOwnerChange", priority: 2}
