<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>
			{%- block title -%}
				— {{ app_subname }} — Asylamba
			{%- endblock title -%}
		</title>

		<meta charset="utf-8" />
		<meta name="description" content="{{ app_description }}" />

		<link rel="icon" type="image/png" href="{{ asset('media/favicon/color1.png') }}" />
		<link rel="stylesheet" media="screen" type="text/css" href="{{ asset('css/buffer/main.css') }}" />
	</head>
	<body>
		{% block body %}{% endblock body %}
	</body>
</html>
