/* AUTOCOMPLETE MODULE */

.ac_results {
	padding: 0px;
	border: 1px solid #4F4F4F;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
	box-shadow: 0 0 6px black;
	border-radius: 3px;
}

.ac_results ul {
	width: 100%;
	padding: 0; margin: 0;
	list-style-position: outside;
	list-style: none;
}

.ac_results li {
	padding: 4px 8px;
	margin: 0px;
	cursor: default;
	display: block;
	border-bottom: solid 1px #CCC;
	overflow: hidden;
}
.ac_results li:last-child {
	border: none;
}

.ac_results .img {
	float: left;
	width: 36px;
	background: #202020;
	border-radius: 3px;
	margin: 0 8px 0 0;
}

.ac_results .value-1,
.ac_results .value-2 {
	display: block;
	line-height: 18px;
}

.ac_results .value-1 {
	font-weight: bold;
}

.ac_loading { background: white url('src/desktop/module/indicator.gif') right center no-repeat; }

.color1 .ac_over { background: #510816; }
.color2 .ac_over { background: #0c0d44; }
.color3 .ac_over { background: #b17a00; }
.color4 .ac_over { background: #310948; }
.color5 .ac_over { background: #24500a; }
.color6 .ac_over { background: #004948; }
.color7 .ac_over { background: #401b13; }
.color1 .ac_results strong { color: #510816; }
.color2 .ac_results strong { color: #0c0d44; }
.color3 .ac_results strong { color: #b17a00; }
.color4 .ac_results strong { color: #310948; }
.color5 .ac_results strong { color: #24500a; }
.color6 .ac_results strong { color: #004948; }
.color7 .ac_results strong { color: #401b13; }

.ac_over { color: white; }
.ac_results .ac_over strong { color: white; }
.ac_results .ac_over img { background: white; }