<div class="component memorial">
	<div class="head skin-2">
		<h2>Mémorial</h2>
		</div>
	<div class="fix-body">
	<div class="body">
		<blockquote>En l'honneur de ceux qui ont servi notre faction.<br />
			En l'honneur de ceux qui sont morts dignement.<br />
			En l'honneur de ceux qui ont souffert pour nous libérer de l'oppression.<br />
			Nous leur devons le respect.</blockquote>
		</div>
	</div>
</div>
