{% extends 'layouts/base.html.twig' %}

{% block body %}
	<div id="nav">
		<div class="box left">
			<span {% if app.request.attributes.get('step') == 'faction-choice' %}class="active"{% endif %}>Etape 1</span>

			<span {% if app.request.attributes.get('step') == 'profile' %}class="active"{% endif %}>Etape 2</span>

			<span {% if app.request.attributes.get('step') == 'place-choice' %}class="active"{% endif %}>Etape 3</span>
		</div>

		<div class="box right">
			<a href="#" class="square sh" data-target="disconnect-box">≡</a>
		</div>

		<div class="overbox" id="disconnect-box">
			<a target="_blank" href="/">aller à l\'accueil</a>
			<a target="_blank" href="/blog">voir le blog</a>
			<a target="_blank" href="{{ facebook_link }}">rejoindre la page Facebook</a>
			<a target="_blank" href="{{ google_plus_link }}">nous suivre sur Google+</a>
			<a target="_blank" href="{{ twitter_link }}">nous suivre sur Twitter</a>
		</div>
	</div>

	<div id="container">
		{% block content %}{% endblock content %}
	</div>
{% endblock body %}
