html { height: 100%; }
body { 
	margin: 0; padding: 0;
	font-family: 'Roboto', 'Trebuchet MS', 'Arial', sans-serif;
	font-size: 13px;
}

.bull {
	display: none;
	position: absolute;
	z-index: 1200;
	padding: 4px 8px;
	max-width: 280px;
	color: white;
	background: #202020;
	border-radius: 3px;
	border: solid 1px #4F4F4F;
	box-shadow: inset 0 0 3px black;

	&:before {
		content: '';
		display: block;
		position: absolute;
		border-style: solid;
		border-width: 7px;
	}
}

.bull.top:before {
	bottom: -14px;
	border-color: #4F4F4F transparent transparent transparent;
}
.bull.bottom:before {
	top: -14px;
	border-color: transparent transparent #4F4F4F transparent;
}
.bull.left:before {
	right: 12px;
}
.bull.right:before {
	left: 12px;
}