{% extends 'layouts/game.html.twig' %}

{% block body %}
	<div id="background-paralax" class="fleet"></div>

	{{ include('molecules/fleet/sidebar.html.twig') }}
	{{ include('molecules/common/movers.html.twig') }}

	<div id="content">
		{% block content %}{% endblock content %}
	</div>
{% endblock body %}
