<div class="component report">
	<div class="head skin-2"></div>
	<div class="fix-body">
		<div class="body">
			<a class="more-button" href="{{ path('delete_combat_report', {'id': report.id}) }}">Supprimer le rapport</a>

			<a class="more-button" href="{{ path('archive_combat_report', {'id': report.id}) }}">Archiver le rapport</a>
		</div>
	</div>
</div>
