---
parameters:
    hermes.notifications.list_limit: 25
    hermes.notifications.archive_limit: 5
    hermes.notifications.premium_archive_limit: 50

    hermes.notifications.display_tool: 5

    hermes.notifications.timeout.read: 72       # 3 days
    hermes.notifications.timeout.unread: 240    # 10 days

    hermes.notifications.mrm.message_display: 50

    hermes.notifications.msm.step_thread: 6
    hermes.notifications.msm.step_next_thread: 3
    hermes.notifications.msm.step_message: 10
    
services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: true

    _instanceof:
        Symfony\Component\Messenger\Handler\MessageHandlerInterface:
            tags:
                - { name: 'messenger.message_handler', bus: 'messenger.default_bus' }

    #App\Modules\Hermes\Handler\:
    #    resource: '%kernel.project_dir%/src/Modules/Hermes/Handler/*'

    App\Modules\Hermes\Manager\:
        resource: '%kernel.project_dir%/src/Modules/Hermes/Manager/*'
